In [179]:
#import

import pandas as pd
from path import Path
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [180]:
# Create pathway to mock data
path = Path("Sample_data.csv")

In [181]:
# load dataframe
crime_df = pd.read_csv(path)
crime_df.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,10224738,HY411648,9/5/2015 13:30,043XX S WOOD ST,486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,...,12,61,08B,1165074.0,1875917.0,2015,2/10/2018 15:50,41.815117,-87.670000,"(41.815117282, -87.669999562)"
1,10224739,HY411615,9/4/2015 11:30,008XX N CENTRAL AVE,870,THEFT,POCKET-PICKING,CTA BUS,False,False,...,29,25,6,1138875.0,1904869.0,2015,2/10/2018 15:50,41.895080,-87.765400,"(41.895080471, -87.765400451)"
2,11646166,JC213529,9/1/2018 0:01,082XX S INGLESIDE AVE,810,THEFT,OVER $500,RESIDENCE,False,True,...,8,44,6,NaN,NaN,2018,4/6/2019 16:04,NaN,NaN,NaN
3,10224740,HY411595,9/5/2015 12:45,035XX W BARRY AVE,2023,NARCOTICS,POSS: HEROIN(BRN/TAN),SIDEWALK,True,False,...,35,21,18,1152037.0,1920384.0,2015,2/10/2018 15:50,41.937406,-87.716650,"(41.937405765, -87.716649687)"
4,10224741,HY411610,9/5/2015 13:00,0000X N LARAMIE AVE,560,ASSAULT,SIMPLE,APARTMENT,False,True,...,28,25,08A,1141706.0,1900086.0,2015,2/10/2018 15:50,41.881903,-87.755121,"(41.881903443, -87.755121152)"

In [182]:
# Taking Count
crime_df.count()

ID                      199
Case Number             199
Date                    199
Block                   199
IUCR                    199
Primary Type            199
Description             199
Location Description    198
Arrest                  199
Domestic                199
Beat                    199
District                199
Ward                    199
Community Area          199
FBI Code                199
X Coordinate            194
Y Coordinate            194
Year                    199
Updated On              199
Latitude                194
Longitude               194
Location                194
dtype: int64

In [183]:
# Drop na values
crime_df = crime_df.dropna()

In [184]:
# Validate drops in na
crime_df.count()

ID                      194
Case Number             194
Date                    194
Block                   194
IUCR                    194
Primary Type            194
Description             194
Location Description    194
Arrest                  194
Domestic                194
Beat                    194
District                194
Ward                    194
Community Area          194
FBI Code                194
X Coordinate            194
Y Coordinate            194
Year                    194
Updated On              194
Latitude                194
Longitude               194
Location                194
dtype: int64

In [185]:
# dropping unnessary columns ( atbitrary placeholders)
cleaned_crime_df = crime_df.drop(columns = ["Case Number", "ID", "IUCR", "Block", "Year", "Updated On", "Date", "Description", "FBI Code", "Location"])

In [186]:
#Adding labelencoder for Primaty Type of crime
le = LabelEncoder()
cleaned_crime_df['Primary Type'] = le.fit_transform(cleaned_crime_df['Primary Type'])
cleaned_crime_df['Location Description'] = le.fit_transform(cleaned_crime_df['Location Description'])

In [187]:
cleaned_crime_df.head(10)

,Primary Type,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,X Coordinate,Y Coordinate,Latitude,Longitude
0,1,20,False,True,924,9,12,61,1165074.0,1875917.0,41.815117,-87.670000
1,14,7,False,False,1511,15,29,25,1138875.0,1904869.0,41.895080,-87.765400
3,8,25,True,False,1412,14,35,21,1152037.0,1920384.0,41.937406,-87.716650
4,0,1,False,True,1522,15,28,25,1141706.0,1900086.0,41.881903,-87.755121
5,2,20,False,False,614,6,21,71,1168430.0,1850165.0,41.744379,-87.658431
6,2,22,False,False,1434,14,32,24,1161628.0,1912157.0,41.914636,-87.681631
7,14,12,True,False,1034,10,25,31,1159734.0,1889313.0,41.851989,-87.689219
8,12,28,False,True,1222,12,27,27,1155536.0,1900515.0,41.882814,-87.704326
10,14,18,False,False,833,8,13,65,1150938.0,1857056.0,41.763648,-87.722345
11,1,26,False,False,1623,16,45,11,1137969.0,1934340.0,41.975968,-87.768014

In [188]:
# Define the features set.
X = cleaned_crime_df.copy()
X = X.drop("Arrest", axis=1)
X.head(10)

,Primary Type,Location Description,Domestic,Beat,District,Ward,Community Area,X Coordinate,Y Coordinate,Latitude,Longitude
0,1,20,True,924,9,12,61,1165074.0,1875917.0,41.815117,-87.670000
1,14,7,False,1511,15,29,25,1138875.0,1904869.0,41.895080,-87.765400
3,8,25,False,1412,14,35,21,1152037.0,1920384.0,41.937406,-87.716650
4,0,1,True,1522,15,28,25,1141706.0,1900086.0,41.881903,-87.755121
5,2,20,False,614,6,21,71,1168430.0,1850165.0,41.744379,-87.658431
6,2,22,False,1434,14,32,24,1161628.0,1912157.0,41.914636,-87.681631
7,14,12,False,1034,10,25,31,1159734.0,1889313.0,41.851989,-87.689219
8,12,28,True,1222,12,27,27,1155536.0,1900515.0,41.882814,-87.704326
10,14,18,False,833,8,13,65,1150938.0,1857056.0,41.763648,-87.722345
11,1,26,False,1623,16,45,11,1137969.0,1934340.0,41.975968,-87.768014

In [189]:
# Define the target set.
y = cleaned_crime_df["Arrest"].ravel()
y[:5]

array([False, False,  True, False, False])

In [190]:
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [191]:
# Creating a StandardScaler
scaler = StandardScaler()

# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [193]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)